@CHARSET "ISO-8859-1";
body{
	background-image:url('pattern.png'); 
	cursor: crosshair; 
	width: 10000px; 
	height: 7500px; 
	overflow: hidden;
}
#joe{
	background: #a00202; 
	border-style:inset; 
	border-radius: 20px; 
	position: relative; 
	cursor: crosshair;
	width: 20px;
	height: 20px;
}
#joe:hover{
	background: lightblue;
}

#points{
	color: gold; 
	font-size: 10em; 
	cursor: crosshair;
}